body{padding: 0;margin: 0;}

/*menu*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;

}
li {float: left;}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a :hover{
    background-color: #111111;
    text-decoration: underline;
}
.active{background-color: #7426bd;}

/* Conteudo principal*/
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(156, 4, 194);
}
 .flex-container .box{
     background-color: #f1f1f1;
     width: 50%;
     margin: 10px;
     text-align: center;
     line-height: 80px;
     font-size: 75px;
 }
 .center{
     line-height: 200px;
     height: 200px;
     border: 3px solid rgb(150, 5, 142);
     text-align: center;
 }
 .center p {
     line-height: 2.0;
     display: inline-block;
     vertical-align: middle;
 }
 /*Footer*/
 footer{
     padding: 10px;
     text-align: center;
     background: rgb(150, 5, 142);
     margin-top: 10px;
 }


    